@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap);
*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

#auth {
  display: block;
  width: 360px;
  padding: 45px;
  background-color: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  text-align: center;
}
#auth .auth__input {
  font-family: "Roboto", sans-serif;
  outline: none;
  background-color: #f2f2f2;
  width: 100%;
  border: none;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 1.4rem;
}
#auth .auth__button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: none;
  background-color: #4caf50;
  width: 100%;
  border: none;
  padding: 15px;
  color: white;
  font-size: 1.4rem;
  transition: all 0.3 ease;
  cursor: pointer;
}
#auth .auth__button:hover,
#auth .auth__button:active,
#auth .auth__button:focus {
  background-color: #43a047;
}
#auth .auth__link {
  margin-top: 15px;
  color: #b3b3b3;
  font-size: 1.2rem;
}
#auth .auth__link a {
  color: #4caf50;
  text-decoration: none;
}
#auth .auth__error {
  font-size: 1.1rem;
  color: #dc3545;
  text-align: left;
  display: block;
  margin-top: -12px;
  margin-bottom: 12px;
}
#auth .auth__input-error {
  border: 1px solid #dc3545;
}
#auth .auth__privacy {
  margin-top: 15px;
  font-size: 1.2rem;
  padding: 0 4px;
}
#auth .auth__privacy a {
  color: inherit;
  font-size: inherit;
}
