@import url(https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:wght@300;400;500;600;700;800&display=swap);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "socials";
  src: url("/fonts/socials.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-] {
  font-family: "socials" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook::before {
  content: "\e908";
}

.icon-telegram::before {
  content: "\e907";
}

.icon-youtube::before {
  content: "\e906";
}

.icon-mail::before {
  content: "\e904";
}

.icon-whatsapp::before {
  content: "\e905";
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", "Times New Roman", sans-serif;
}

.container {
  max-width: 1170px;
  display: block;
  margin: 0 auto;
}

section {
  padding: 120px 0 100px 0;
}

.wrapper {
  width: 100%;
  padding-top: 60px;
}

#main {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(/images/main_background_image.webp);
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#main .main__pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/images/main_pattern.png);
  background-repeat: repeat;
}
#main .main__description {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: white;
}
#main .main__simple_text {
  font: 400 20px/1.2 "Raleway", "Times New Roman", sans-serif;
  letter-spacing: 1px;
}
#main .main__direction_text {
  margin: 20px 0;
  font: 700 40px/1.2 "Raleway", "Times New Roman", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}
#main .main__cta {
  position: absolute;
  bottom: 40px;
  left: calc(50% - 25px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  cursor: pointer;
}
#main .main__arrow_down {
  display: block;
  margin: 0 auto;
  margin-top: 14px;
  -webkit-animation-name: scrolling;
          animation-name: scrolling;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
@-webkit-keyframes scrolling {
  0% {
    margin-top: 14px;
    opacity: 1;
  }
  100% {
    margin-top: 24px;
    opacity: 0;
  }
}
@keyframes scrolling {
  0% {
    margin-top: 14px;
    opacity: 1;
  }
  100% {
    margin-top: 24px;
    opacity: 0;
  }
}

#header {
  background-color: white;
}
#header .header__row {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}
#header .header__logo {
  font: 700 22px/1.2 "Lobster", cursive;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}
#header .header__link {
  display: inline-block;
}
#header .header__link a {
  padding: 15px;
  text-transform: uppercase;
  text-decoration: none;
  font: 400 12px/1.2 "Raleway", "Times New Roman", sans-serif;
  color: #222;
  transition: 0.5s;
}
#header .header__link a:hover,
#header .header__link a.header__link-active {
  color: #E7746F;
}
#header .header__menu {
  display: none;
}

#header.header-fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#menu {
  display: none;
}

.titles {
  text-align: center;
}
.titles .titles__header {
  font: 700 30px/1.2 "Raleway", "Times New Roman", sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: black;
}
.titles .titles__line {
  width: 100px;
  height: 1px;
  display: block;
  margin: 30px auto;
  background-color: rgba(135, 135, 135, 0.5);
}
.titles .titles__text {
  max-width: 555px;
  margin: 0 auto;
  font: 400 18px/1.2 "Raleway", "Times New Roman", sans-serif;
  color: #666;
}

#services {
  background-color: #f5f5f5;
}
#services .services__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 0 20px;
}
#services .services__item {
  padding: 40px 20px;
  background-color: white;
  border-bottom: 1px solid #d4d4d4;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
#services .services__item:hover {
  box-shadow: 0 0 6px rgba(231, 116, 111, 0.5);
}
#services .services__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
#services .services__text {
  text-align: center;
}
#services .services__service_name {
  font: 700 13px/1.2 "Raleway", "Times New Roman", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#services .service__service_description {
  color: #666;
  margin-top: 5px;
  font: 400 15px/1.2 "Raleway", "Times New Roman", sans-serif;
}

#services.header-fix {
  margin-top: 50px;
}

#portfolio .portfolio__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin: 0 20px;
}
#portfolio .porfolio__item {
  overflow: hidden;
  border-radius: 4px;
}
#portfolio .portfolio__background {
  position: relative;
  height: 200px;
  background-image: url(/images/stub_image.png);
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}
#portfolio .portfolio__background:hover {
  transform: scale(1.2);
  background-color: transparent;
}
#portfolio .portfolio__background:hover .portfolio__button {
  opacity: 1;
}
#portfolio .portfolio__button {
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
  opacity: 0.75;
  background-color: #E7746F;
  color: white;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  text-transform: uppercase;
  text-align: center;
  font: 400 9px/1.2 "Raleway", "Times New Roman", sans-serif;
  transition: 0.3s;
  padding: 30px 0;
}

#skills {
  background-color: #f5f5f5;
}
#skills .skills__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#skills .skills__pie_chart {
  position: relative;
  width: 140px;
  height: 140px;
  display: block;
  margin: 0 auto;
  background-color: #FF5252;
  border-radius: 50%;
  background-image: linear-gradient(to left, transparent 50%, #f5f5f5 0);
}
#skills .skills__pie_chart::before {
  content: "";
  display: block;
  margin-left: 50%;
  height: 100%;
  border-radius: 0 100% 100% 0/50%;
  background-color: inherit;
  transform-origin: left;
}
#skills .skills__item:nth-child(1) .skills__pie_chart::before {
  transform: rotate(162deg);
}
#skills .skills__item:nth-child(2) .skills__pie_chart::before {
  transform: rotate(140deg);
}
#skills .skills__item:nth-child(3) .skills__pie_chart::before {
  transform: rotate(144deg);
}
#skills .skills__item:nth-child(4) .skills__pie_chart::before {
  transform: rotate(122deg);
}
#skills .skills__pie_chart_content {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 120px;
  width: 120px;
  background-color: #f5f5f5;
  border-radius: 50%;
  font: 400 26px/1.2 "Raleway", "Times New Roman", sans-serif;
  text-align: center;
  padding-top: 43px;
}
#skills .skills__description {
  margin-top: 20px;
  font: 700 13px/1.2 "Raleway", "Times New Roman", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

#calltoaction {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px 0;
  text-align: center;
}
#calltoaction .calltoaction__title {
  font: 700 20px/1.2 "Raleway", "Times New Roman", sans-serif;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
}
#calltoaction .calltoaction__text {
  font: 400 20px/1.2 "Raleway", "Times New Roman", sans-serif;
  margin: 30px 0;
  color: white;
}
#calltoaction .calltoaction__button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  color: #111;
  padding: 10px 25px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
  margin: 10px 0;
  font: 400 13px/1.2 "Raleway", "Times New Roman", sans-serif;
}
#calltoaction .calltoaction__button:hover {
  background-color: white;
}

#about {
  background-color: #f5f5f5;
}
#about .about__text {
  max-width: 1170px;
  color: #666;
  font: 400 16px/1.2 "Raleway", "Times New Roman", sans-serif;
  margin: 0 20px;
}

#pricing .pricing__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  margin: 0 20px;
}
#pricing .pricing__item {
  background: linear-gradient(180deg, #FAFAFA 0%, rgba(250, 250, 250, 0) 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 30px;
}
#pricing .pricing__item:hover {
  box-shadow: 0px 0px 10px rgba(115, 58, 55, 0.25);
}
#pricing .pricing__title {
  font: bold 24px/30px "Raleway", "Times New Roman", sans-serif;
  margin-bottom: 32px;
}
#pricing .pricing__description {
  font: normal 16px/24px "Raleway", "Times New Roman", sans-serif;
  margin-bottom: 32px;
  color: #666;
}
#pricing .pricing__list {
  font: 500 16px/24px "Raleway", "Times New Roman", sans-serif;
  margin-left: 30px;
  list-style-type: disc;
}

#blog {
  background-color: #f5f5f5;
}
#blog .blog__articles {
  height: 400px;
  display: grid;
  grid-template-areas: "article-1 article-2" "article-1 article-3";
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  margin: 0 20px;
}
#blog .blog__article {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url(/images/stub_image.png);
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#blog .blog__article:nth-child(1) {
  grid-area: article-1;
}
#blog .blog__article:nth-child(2) {
  grid-area: article-2;
}
#blog .blog__article:nth-child(3) {
  grid-area: article-3;
}
#blog .blog__article:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
#blog .blog__title {
  position: absolute;
  left: 15px;
  bottom: 15px;
  font: 600 16px/1.4 "Raleway", "Times New Roman", sans-serif;
  color: white;
}
#blog .blog__article:first-child .blog__title {
  left: 30px;
  bottom: 30px;
  font: 700 22px/1.4 "Raleway", "Times New Roman", sans-serif;
}
#blog .blog__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#feedback .feedback__form {
  max-width: 555px;
  display: block;
  margin: 0 auto;
}
#feedback .feedback__input,
#feedback .feedback__select,
#feedback .feedback__button,
#feedback .feedback__textarea {
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #d8e1e4;
  font: 500 14px/1.2 "Raleway", "Times New Roman", sans-serif;
  padding: 12px 15px;
  border-radius: 3px;
  transition: 0.3s;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}
#feedback .feedback__input:focus,
#feedback .feedback__select:focus,
#feedback .feedback__button:focus,
#feedback .feedback__textarea:focus {
  outline: none;
  border: 1px solid #aaa;
}
#feedback .feedback__textarea {
  resize: none;
}
#feedback .feedback__button {
  background-color: rgba(17, 17, 17, 0.8);
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}
#feedback .feedback__button:hover,
#feedback .feedback__button:focus {
  background-color: #121212;
}
#feedback .feedback__privacy {
  color: #666;
  font: 400 12px/1.2 "Raleway", "Times New Roman", sans-serif;
}
#feedback .feedback__privacy a {
  color: inherit;
  font: inherit;
}
#feedback .feedback__text {
  text-align: center;
}
#feedback .feedback__error {
  color: #dc3545;
  font: 500 12px/1.2 "Raleway", "Times New Roman", sans-serif;
  display: block;
  margin-top: -12px;
  margin-bottom: 12px;
}
#feedback .feedback__input-error:focus,
#feedback .feedback__input-error {
  border: 1px solid #dc3545;
}
#feedback .feedback__success {
  display: block;
  font: 600 14px/1.2 "Raleway", "Times New Roman", sans-serif;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 30px;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  color: #155724;
  border-radius: 4px;
  padding: 10px;
}

#footer {
  padding: 40px 0;
  color: white;
  background-color: #222;
  text-align: center;
}
#footer .footer__socials {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
  width: 180px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#footer .footer__social {
  color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  font: normal 20px/1.2 "Raleway", "Times New Roman", sans-serif;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  padding: 4px 0;
  cursor: pointer;
  text-align: center;
}
#footer .footer__social:hover {
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.6);
}
#footer .footer__copyrights {
  display: flex;
  justify-content: center;
}
#footer .footer__copyrights a {
  color: #E7746F;
  font: normal 18px/0.9 "Raleway", "Times New Roman", sans-serif;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.popup .popup__content {
  width: 70vw;
  height: 80vh;
  background-color: #fefefe;
  margin-left: 15vw;
  margin-top: 10vh;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 30px;
  cursor: default;
}
.popup .popup__title {
  font: bold 30px/1.2 "Raleway", "Times New Roman", sans-serif;
}
.popup .popup__description {
  margin: 30px 0;
  font: 500 18px/1.2 "Raleway", "Times New Roman", sans-serif;
}
.popup .popup__image {
  background-image: url(/images/stub_image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 100%;
}
.popup .popup__image:last-child {
  margin-bottom: 0;
}

#modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
}
#modal .modal__content {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 20vh;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 6px;
}
#modal .modal__title {
  font: 600 24px/1.2 "Raleway", "Times New Roman", sans-serif;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#modal .modal__text {
  font: 500 16px/1.4 "Raleway", "Times New Roman", sans-serif;
  padding: 20px;
}
#modal .modal__list a {
  color: inherit;
}
#modal strong {
  font-weight: bold;
}
