$pink-color: #E7746F;
$pink-color-with-opacity: rgba(231, 116, 111, .5);
$bg-gray-color: #f5f5f5;
$line-color: rgba(135, 135, 135, 0.5);
$raleway-font-family: 'Montserrat', sans-serif;
//$raleway-font-family: 'Raleway', Arial, sans-serif;
$ptsans-font-family: 'PT Sans', Arial, sans-serif;
$ubuntu-font-family: 'Ubuntu', Arial, sans-serif;
//! ФОРМУЛА: 360 * (кол-во процентов) - 180
$skills-rotate-1: 162deg;
$skills-rotate-2: 140deg;
$skills-rotate-3: 144deg;
$skills-rotate-4: 122deg;
